@import url('https://fonts.googleapis.com/css2?family=Cavefat+Brush&family=Lobster+Two:ital@1&family=Niconne&display=swap');

*{
    font-family: 'Caveat Brush', cursive;
    font-family: 'Lobster Two', cursive;
    font-family: 'Niconne', cursive;
    margin:0; 
    padding:0;
    user-select: none;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none; 

  }
  
  body{
    background:url(bg2.jpg) repeat center; 
    overflow-x: hidden;
   }
  
   .slide a{
     color: #a381c2;
     font-size: 30px;
     font-family: 'Lobster Two', cursive;
   }
 
  .sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #aa6c39;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  
   .sidenav a, .acc-btn, .food-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffe240;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    font-family: 'Caveat Brush', cursive;
  }
  
  .sidenav  .acc-btn:hover {
    color: #fff;
  }
  
  
   .sidenav .food-btn:hover {
    color: #fff;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

  .acc-container {
    display: none;
    background-color: #835a39;
    padding-left: 8px;
  }
  
  .food-container {
    display: none;
    background-color: #835a39;
    padding-left: 8px;
  }
  
 
  .fa-sort-down{
    float: right;
    padding-right: 8px;
  }
  
  
  #main{
    transition: margin-left .5s;
    padding: 16px; 
    font-size: 20px; 
    padding: 0px 10px;
    background: #302e2cb6;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
  }

  #main .sitelogo .img{
    width: 120px;
    margin-left: 1235px;
   padding-top: 0;
 
  }
  #main .heading{
    font-size: 100px;
    margin-bottom: 30px;
    color:#FFD700;
    font-family: 'Niconne', cursive;
    text-align: center;
  }

  #main h2{
      font-size: 19px;
      margin-bottom: 30px;
      color: #fff;
      font-family: 'Caveat Brus', cursive;
      text-align: center;
  }

  #main .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(435px, 1fr));
    gap: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .image {
    position: relative;
    width: auto;
  }

    .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b693d6bd;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }

.image:hover .overlay {
    width: auto;
}

#main .box-container .box{
    background-color: #fff;
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    display: none;
  }

#main .box-container .box:nth-child(1),
#main .box-container .box:nth-child(2),
#main .box-container .box:nth-child(3){
  display: inline-block;
}

#main .box-container .box .image{
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
  border-radius: 5px;
}

  #main .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  #main .box-container .box:hover .image img{
    transform: scale(1.1);
  }
  
  #main .box-container .box .content h3{
    font-size: 30px;
    color:rgb(0, 0, 0);
    font-family: 'Lobster Two', cursive;
    text-align: center;
  }
  
  #main .box-container .box .image .overlay .text{
    color: #65350f;
    font-size: 14px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: justify;
    width: fit-content;
    padding: 5px;
  }
  
  #main .box-container a,p{
      background: #88aed8;
      color: #fff;
      border: 4px;
      border-style: none;
      border-radius: 70px;
      width: 80px;
      font-family: 'Caveat Brush', cursive;
      text-align: center;
  }

  .image:hover .overlay {
    width: 100%;
  }
  
  #main .box-container .box .overlay .text{
    font-size: 10px;
    color:rgb(66, 66, 116);
    font-family: 'Caveat Brush', cursive;
    text-align: center;
  }
  
  #main .box-container .anchor{
    margin-left: 1225px;
    padding:13px 30px;
  }


  #load-more{
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    display: block;
    padding:13px 30px;
    border:1px solid #334;
    color: #fff;
    font-size: 16px;
    background-color: #88aed8 ;
    cursor: pointer;
    font-family: 'Caveat Brush', cursive;
    margin-left: auto;
    margin-right: auto;
  }

  .footer{
    text-align: center;
    color: #ffc2d1;
  }
  
  #load-more:hover{
    background-color: #b787e4;
    border-color: #88aed8;
    color: #fff;
  }
  
  @media (max-width:435px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

    #main .heading{
      font-size: 25px;
    }
  
    #main .box-container{
      grid-template-columns: 1fr;
    }
  
    #main .box-container .box .image{
      height: 200px;
    }
  
    #main .box-container .box .content h3{
      font-size: 12px;
    }
  
    #main .box-container .box .content .icons span{
      font-size: 12px;
    }
  
  }